html, body {
    direction: rtl;
    overflow: hidden;
    background: white;
}

#__nuxt, #__layout {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    #header {
        padding: 1em;
        background: white;
        user-select: none;
    }

    #content {
        flex-grow: 1;
        overflow-y: auto;
        -ms-overflow-style: none;  // IE and Edge
        // noinspection CssUnknownProperty
        scrollbar-width: none;  // Firefox
        padding-top: 2em;  // Bottom padding does not mix well with grid in Chrome.
        display: grid;

        &::-webkit-scrollbar {
            display: none;  // Chrome, Safari and Opera
        }

        .hemistich {
            .is-placeholder {
                width: 200px;
                height: 24px;
            }

            &:nth-child(odd) {
                &.is-highlighted {
                    border-radius: 1em 0 0 1em;
                    background: rgb(221,255,67);
                    background: linear-gradient(90deg, rgba(255,221,129,1) 0%, rgba(255,255,255,0) 100%);
                }

                &.is-selected {
                    border-radius: 1em 0 0 1em;
                    background: rgb(221,255,67);
                    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 100%);
                }
            }

            &:nth-child(even) {
                &.is-highlighted {
                    border-radius: 0 1em 1em 0;
                    background: rgb(221,255,67);
                    background: linear-gradient(-90deg, rgba(255,221,129,1) 0%, rgba(255,255,255,0) 100%);
                }

                &.is-selected {
                    border-radius: 0 1em 1em 0;
                    background: rgb(221,255,67);
                    background: linear-gradient(-90deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 100%);
                }
            }
        }

        @media (min-width: 540px) {
            grid-template-columns: 1fr 1fr;

            .hemistich {
                padding: 1em;

                &:nth-child(odd) {
                    text-align: left;
                }

                &:nth-child(even) {
                    text-align: right;
                }
            }
        }

        @media (max-width: 540px) {
            grid-template-columns: 1fr;

            .hemistich {
                padding: .5em 2em;

                &:nth-child(odd) {
                    text-align: right;
                    padding-bottom: 0;
                }

                &:nth-child(even) {
                    text-align: left;
                }
            }
        }

        #scroll-tip {
            position: absolute;
            bottom: 2em;
            right: 2em;

            .box {
                width: 215px;
                padding: 1em;
                text-align: justify;
            }
        }
    }

    .floating {
        position: absolute;
        top: 6em;
        width: 215px;

        &#chapters {
            right: 2em;
            height: 400px;
            overflow: auto;
        }

        &#search {
            left: 2em;
            height: 110px;
        }

        &#not-found {
            left: 2em;
            bottom: 2em;
            top: initial;
        }
    }
}

.has-shadow {
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 40px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}

.fade-enter, .fade-leave-to {
    opacity: 0
}
